.phases__container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 10px;
    background-color: #779DCF;
}

.jury__detail {
    display: block;
    padding: 10px;
    float: right;
}

.phases__heading {
    margin-top: 300px;
}

h2 {
    font-size: 40px;
}

p {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 24px;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

button {
    margin-left: 40px;
    width: 100px;
    padding: 8px;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    box-shadow: #555555 5px 5px;
}

button:hover {
    cursor: pointer;
}